* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
}

h1 {
  color: red;
}

.stars-image {
  position: relative;
  /* background-color: red; */
  /* background-image: url("./stars.jpg"); */
  height: 500px;
}
.image {
  width: 100%;
  height: 100%;
}

.positions {
  font-size: 20px;
  text-transform: uppercase;
}

.top-left {
  color: blue;
  position: absolute;
  top: 30px;
  left: 20px;
}

.top-right {
  color: red;
  position: absolute;
  top: 30px;
  right: 60px;
}

.bottom-left {
  color: green;
  position: absolute;
  bottom: 70px;
  left: 20px;
}

.bottom-right {
  color: purple;
  position: absolute;
  bottom: 70px;
  right: 60px;
}

.center {
  color: orange;
  position: absolute;
  /* bottom: 250px; */
  /* right: 370px; */
  left: 50%;
  top: 50%;
}

/* Styles for the About Page*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgrey;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: cadetblue;
  padding: 10px;
}

.logo img {
  height: 40px;
}

/*

.navbar {
  position: relative;
  right: 200;
  background-color: red;
}

.navbar-links a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

*/

.intro {
  background-image: url(guide-banner-image.webp);
  color: white;
  height: 70dvh; /*Device viewport height*/
  width: 100%;
  position: relative;
  padding: 30px 50px 0px 10px;
}

.overlay {
  position: absolute;
  left: 50%;
  height: 100px;
  background-color: red;
}

.heading-area {
  width: 50%;
}

.heading-area h1 {
  font-size: 35px;
  margin-bottom: 15px;
  color: white !important;
}

.heading-area p {
  font-size: 15px;
  color: white !important;
}

.call-to-action {
  padding: 30px 20px 50px 0px;
}

.call-to-action .get-started {
  margin-right: 20px;
}

a:link {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
}

a.get-started:link {
  background-color: #0070f0;
  padding: 12px;
}

a.get-started:hover {
  background-color: navy;
}

a.contact-sales:link {
  border: 2px solid white;
  padding: 10px;
}

a.contact-sales:hover {
  background-color: white;
  color: #0070f0;
}
